# BD
DB_HOST=db
DB_PORT=3306
DB_NAME=lockyapi
DB_USER=locky
DB_PASSWORD=lockypass
DB_ROOT_PASSWORD=rootpass

# APP
PORT=3000
NODE_ENV=development
SESSION_SECRET=muda-isto-para-uma-string-aleatoria-longa

# OAUTH APP
GITHUB_CLIENT_ID=preencher
GITHUB_CLIENT_SECRET=preencher
GITHUB_CALLBACK_URL=http://localhost:3001/auth/github/callback

# FRONTEND
CORS_ORIGIN=http://localhost:5173

# redirecionar após login oauth bem-sucedido
FRONTEND_URL=http://localhost:5173
